{% extends 'base.html' %}
{% block content %}

<div class="container p-5">
    <h1>Upload dataset (before)</h1>
    <p>
        Please upload your dataset raw data file.
    </p>
    <br>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <div class="alert alert-success col-lg-6 col-sm-12 col-xs-12 text-center mx-auto" role="alert">
            <li class="{{ message.tags }}">{{ message }}</li>
        </div>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="col-lg-6 col-md-8 mx-auto">
        {% load crispy_forms_tags %}
        {% crispy form %}
    </div>
</div>

{% endblock %}