{% extends 'base.html' %}
{% block content %}

<div class="container p-5">
    <h1>Contact</h1>
    <h4>Contact us directly if you have any questions</h4>
    <p>
        Please write your email address and a message below if you have any questions. <br>
        One of our staff members will be happy to contact you directly and answer your questions as soon as possible.
    </p>
    <br>

    <div class="col-lg-6 col-md-8 mx-auto">
        {% load crispy_forms_tags %}
        {% crispy form %}
    </div>
</div>

{% endblock %}