{% load static %}

<header class="masthead"
    style="background: url('{% static 'img/bg-pattern.png' %}'), linear-gradient(to left, #7b4397, #dc2430);height: 123%;padding-top: 60px;">
    <div class="container h-100" style="margin-top: 25px;">
        <div class="row">
            <div class="col mb-auto">
                <div class="row">
                    <div class="col mb-auto" style="padding-right: 0px;padding-left: 0px;">
                        <!-- Start: Registration Form with Photo -->
                        <section class="register-photo"
                            style="padding-top: 25px;padding-bottom: 25px;background: rgba(241,247,252,0.1);margin-top: 0px;height: 400;min-height: 400;padding-right: 15px;padding-left: 15px;">
                            <!-- Start: Form Container -->


                            <div class="form-container">
                                <form action="" method="post" style="padding-left: 50px;padding-right: 50px;height: 305px;padding-bottom: 30px;">
                                    {% csrf_token %}
                                    <h2 class="text-center"><strong>1. Add</strong> your data</h2>
                                    <div class="form-group"><input class="border rounded-0 shadow-sm form-control-file" name=""
                                            type="file" style="margin-top: 0px;opacity: 0.50;" required=""><small
                                            class="form-text text-muted">Choose a .csv .xls .xlsx or .json
                                            file.</small>
                                    </div>
                                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit" name='databefore'
                                            style="margin-top: 73px;">Add Dataset</button></div>
                                </form>
                            </div><!-- End: Form Container -->
                        </section><!-- End: Registration Form with Photo -->
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="padding-top: 0px;margin-top: -10px;">
                        <!-- Start: Registration Form with Photo -->
                        <section class="register-photo"
                            style="padding-top: 0px;padding-bottom: 0px;background: rgba(241,247,252,0);">
                            <!-- Start: Form Container -->
                            <div class="form-container">
                                <form method="post" style="padding-left: 20px;padding-right: 20px;">
                                    <h2 class="text-center"
                                        style="color: #eb3b60;font-family: Muli, Helvetica, Arial;font-weight: normal;font-size: 20px;">
                                        Datasets</h2>
                                    <div role="tablist" id="accordion-1">
                                        {% for item in queryset1 %}
                                        <div class="card">
                                            <div class="card-header" role="tab" style="padding-top: 7px;">
                                                <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false"
                                                        aria-controls="accordion-1 .item-{{ forloop.counter }}" href="#accordion-1 .item-{{ forloop.counter }}"
                                                        style="color: rgb(122,113,91);font-size: 14px;">{{ item.name }}</a><i
                                                        class="fa fa-remove float-right"
                                                        style="margin-left: 5px;"></i><i class="fa fa-edit float-right"
                                                        style="margin-left: 5px;"></i></h5>
                                            </div>
                                            <div class="collapse item-{{ forloop.counter }}" role="tabpanel" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    <div class="table-responsive table mb-0 pt-3 pr-2"
                                                        style="margin-top: -18px;">
                                                        <table class="table table-striped table-sm my-0 mydatatable">
                                                            <thead>
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Start date</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Airi Satou</td>
                                                                    <td>2008/11/28</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Angelica Ramos</td>
                                                                    <td>2009/10/09<br></td>
                                                                </tr>
                                                                <tr></tr>
                                                                <tr></tr>
                                                                <tr></tr>
                                                                <tr></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </form>
                            </div><!-- End: Form Container -->
                        </section><!-- End: Registration Form with Photo -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-auto" style="margin: 0px;margin-top: 0px;margin-bottom: 0px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;padding-left: 0px;">
                        <!-- Start: Registration Form with Photo -->
                        <section class="register-photo"
                            style="padding-top: 25px;padding-bottom: 25px;background: rgba(241,247,252,0.1);padding-right: 15px;padding-left: 15px;">
                            <!-- Start: Form Container -->
                            <div class="form-container">
                                <form action="" method="post"
                                    style="padding-left: 50px;padding-right: 50px;height: 305px;padding-bottom: 30px;">
                                    {% csrf_token %}
                                    <h2 class="text-center"><strong>2. Add</strong> examples</h2>
                                    <div class="form-group"><input class="border rounded-0 shadow-sm form-control-file"
                                            type="file" style="margin-top: 0px;opacity: 0.50;" name="bfdb"></div><small
                                        class="form-text text-muted" style="font-size: 13px;margin-top: -3px;">Or,
                                        choose the columns names</small><!-- Start: Bootstrap Tags Input --><input
                                        class="form-control" type="text" data-role="tagsinput" data-class="label-info"
                                        placeholder="vehicle, start address, ...">
                                    <!-- End: Bootstrap Tags Input -->
                                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit"  name='dataformat'
                                            style="margin-top: 32px;">Add Example</button></div>
                                </form>
                            </div><!-- End: Form Container -->
                        </section><!-- End: Registration Form with Photo -->
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="padding-top: 0px;margin-top: -10px;">
                        <!-- Start: Registration Form with Photo -->
                        <section class="register-photo"
                            style="padding-top: 0px;padding-bottom: 0px;background: rgba(241,247,252,0);">
                            <!-- Start: Form Container -->
                            <div class="form-container">
                                <form method="post" style="padding-left: 20px;padding-right: 20px;">
                                    <h2 class="text-center"
                                        style="color: #eb3b60;font-family: Muli, Helvetica, Arial;font-weight: normal;font-size: 20px;">
                                        Format examples</h2>
                                    <div role="tablist" id="accordion-2">
                                        {% for item in queryset2 %}
                                        <div class="card">
                                            <div class="card-header" role="tab" style="padding-top: 7px;">
                                                <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-2 .item-{{ forloop.counter }}"
                                                        href="#accordion-2 .item-{{ forloop.counter }}" style="color: rgb(122,113,91);font-size: 14px;">{{ item.name }}</a><i
                                                        class="fa fa-remove float-right" style="margin-left: 5px;"></i><i class="fa fa-edit float-right"
                                                        style="margin-left: 5px;"></i></h5>
                                            </div>
                                            <div class="collapse item-{{ forloop.counter }}" role="tabpanel" data-parent="#accordion-2">
                                                <div class="card-body">
                                                    <div class="table-responsive table mb-0 pt-3 pr-2" style="margin-top: -18px;">
                                                        <table class="table table-striped table-sm my-0 mydatatable">
                                                            <thead>
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Start date</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Airi Satou</td>
                                                                    <td>2008/11/28</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Angelica Ramos</td>
                                                                    <td>2009/10/09<br></td>
                                                                </tr>
                                                                <tr></tr>
                                                                <tr></tr>
                                                                <tr></tr>
                                                                <tr></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </form>
                            </div><!-- End: Form Container -->
                        </section><!-- End: Registration Form with Photo -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-auto" style="margin: 0px;margin-top: 0px;margin-bottom: 0px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;padding-left: 0px;">
                        <!-- Start: Registration Form with Photo -->
                        <section class="register-photo"
                            style="padding-top: 25px;padding-bottom: 25px;background: rgba(241,247,252,0.1);padding-right: 15px;padding-left: 15px;">
                            <!-- Start: Form Container -->
                            <div class="form-container">
                                <form action="" method="post"
                                    style="padding-left: 50px;padding-right: 50px;height: 330;padding-bottom: 30px;">
                                    {% csrf_token %}
                                    <h2 class="text-center"><strong>3. Transform</strong></h2>
                                    <div class="form-group" style="margin-bottom: 10px;">
                                        <div class="dropdown" style="text-align: center;"><button
                                                class="btn btn-primary dropdown-toggle" aria-expanded="false"
                                                data-toggle="dropdown" type="button"
                                                style="margin-top: 0px;font-size: 13px;width: 168px;min-width: 168px;padding-top: 8px;padding-bottom: 8px;opacity: 0.68;">SELECT
                                                Data&nbsp;</button>
                                            <div class="dropdown-menu" style="font-size: 13px;"><a class="dropdown-item"
                                                    href="#" style="font-size: 13px;">First
                                                    Item</a><a class="dropdown-item" href="#"
                                                    style="font-size: 13px;">Second
                                                    Item</a><a class="dropdown-item" href="#"
                                                    style="font-size: 13px;">Third Item</a></div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 16px;">
                                        <div class="dropdown" style="text-align: center;"><button
                                                class="btn btn-primary dropdown-toggle" aria-expanded="false"
                                                data-toggle="dropdown" type="button"
                                                style="margin-top: 5px;font-size: 13px;width: 168px;min-width: 168px;padding-top: 8px;padding-bottom: 8px;opacity: 0.68;">Select
                                                format</button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First
                                                    Item</a><a class="dropdown-item" href="#">Second Item</a><a
                                                    class="dropdown-item" href="#">Third Item</a></div>
                                        </div>
                                    </div>
                                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit"  name='dataafter'
                                            style="margin-top: 43px;">Transform</button></div>
                                </form>
                            </div><!-- End: Form Container -->
                        </section><!-- End: Registration Form with Photo -->
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="padding-top: 0px;margin-top: -10px;">
                        <!-- Start: Registration Form with Photo -->
                        <section class="register-photo"
                            style="padding-top: 0px;padding-bottom: 0px;background: rgba(241,247,252,0);">
                            <!-- Start: Form Container -->
                            <div class="form-container">
                                <form method="post" style="padding-left: 20px;padding-right: 20px;">
                                    <h2 class="text-center"
                                        style="color: #eb3b60;font-family: Muli, Helvetica, Arial;font-weight: normal;font-size: 20px;">
                                        Transformed data</h2>
                                    <div role="tablist" id="accordion-3">
                                        {% for item in queryset3 %}
                                        <div class="card">
                                            <div class="card-header" role="tab" style="padding-top: 7px;">
                                                <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-3 .item-{{ forloop.counter }}"
                                                        href="#accordion-3 .item-{{ forloop.counter }}" style="color: rgb(122,113,91);font-size: 14px;">{{ item.name }}</a><i
                                                        class="fa fa-remove float-right" style="margin-left: 5px;"></i><i class="fa fa-edit float-right"
                                                        style="margin-left: 5px;"></i></h5>
                                            </div>
                                            <div class="collapse item-{{ forloop.counter }}" role="tabpanel" data-parent="#accordion-3">
                                                <div class="card-body">
                                                    <div class="table-responsive table mb-0 pt-3 pr-2" style="margin-top: -18px;">
                                                        <table class="table table-striped table-sm my-0 mydatatable">
                                                            <thead>
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Start date</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Airi Satou</td>
                                                                    <td>2008/11/28</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Angelica Ramos</td>
                                                                    <td>2009/10/09<br></td>
                                                                </tr>
                                                                <tr></tr>
                                                                <tr></tr>
                                                                <tr></tr>
                                                                <tr></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </form>
                            </div><!-- End: Form Container -->
                        </section><!-- End: Registration Form with Photo -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header><!-- Start: Highlight Clean -->
<section class="highlight-clean" style="margin-bottom: 20px;">
    <div class="container">
        <!-- Start: Intro -->
        <div class="intro">
            <h2 class="text-center">Need help?</h2>
            <p class="text-center">Send us a message and we'll get <br>back to you with a solution.<br><br><a
                    class="btn btn-primary border rounded-0" role="button" href="/contact"
                    style="margin-top: 15px;width: 210px;background: var(--yellow);">CONTACT US</a></p>
        </div><!-- End: Intro -->
    </div>
</section><!-- End: Highlight Clean -->