{% load static %}

{% if messages %}
<ul>
    {% for message in messages %}
    <div class="alert alert-success col-lg-6 col-sm-12 col-xs-12 text-center mx-auto" role="alert">
        <li class="{{ message.tags }}">{{ message }}</li>
    </div>
    {% endfor %}
</ul>
{% endif %}

<header class="masthead"
    style="background:url('{% static 'img/bg-pattern.png' %}'), linear-gradient(to left, #7b4397, #dc2430);height:100%;">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="mx-auto header-content">
                    <h1 class="mb-5">Auto-transform <br>your data from one format to another.<br></h1><a
                        class="btn btn-outline-warning btn-xl js-scroll-trigger" role="button" href="/signup">Start
                        Now for Free!</a>
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <!-- Start: Registration Form with Photo -->
                <section class="register-photo"
                    style="padding-top: 25px;padding-bottom: 25px;background: rgba(241,247,252,0.1);">
                    <!-- Start: Form Container -->
                    <div class="form-container">
                        <form method="post" style="padding-left: 50px;padding-right: 50px;"
                            enctype="multipart/form-data">{% csrf_token %}
                            <h2 class="text-center"><strong>Transform</strong> your data</h2>
                            <label for="id_data_before">Your Data in .csv .xls or .json:</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="data_before" required=""
                                    id="id_data_before">
                                <label class="custom-file-label" for="id_data_before">Choose file...</label>
                            </div>
                            <p></p>
                            <label for="id_data_format">Example in .csv .xls or .json:</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="data_format" required=""
                                    id="id_data_format">
                                <label class="custom-file-label" for="id_data_format">Choose file...</label>
                            </div>
                            <div class="form-group"><button class="btn btn-primary btn-block" type="submit"
                                    value="Submit" id="btnFetch">Transform</button></div>
                            <a class="already" href="/login">You already have an account? Login here.</a>
                        </form>
                    </div><!-- End: Form Container -->
                </section><!-- End: Registration Form with Photo -->
            </div>
        </div>
    </div>
</header>
<section id="features" class="features">
    <div class="container">
        <div class="text-center section-heading">
            <h2>API for Telematics Data</h2>
            <p class="text-muted">An API with clean data for providers, clients and users</p>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-12 my-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="feature-item"><i class="icon-frame text-primary"></i>
                                <h3>Semantic AI</h3>
                                <p class="text-muted">Identifies the semantic similarity in the case of strings, or
                                    value similarity in the case of numbers.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="feature-item"><i class="icon-target text-primary"></i>
                                <h3>Auto-Match</h3>
                                <p class="text-muted">Auto-find the columns you need, based on the example provided.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="feature-item"><i class="icon-drawer text-primary"></i>
                                <h3>Flexible Formats</h3>
                                <p class="text-muted">Data may be in .xls, .csv, .json<br>Many time formats are also
                                    supported</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="feature-item"><i class="icon-eyeglass text-primary"></i>
                                <h3>Language Detection</h3>
                                <p class="text-muted">The input table and the example format may be in different
                                    languages.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="feature-item"><i class="icon-speech text-primary"></i>
                                <h3>Translation</h3>
                                <p class="text-muted">Translation of column names and string values using AI
                                    translation.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="feature-item"><i class="icon-lock text-primary"></i>
                                <h3>OAuth 2</h3>
                                <p class="text-muted">Provides a secure API for applications to access data on
                                    behalf of users.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style='
    padding: 0px; 
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 32%, rgba(102,109,116,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 32%, rgba(102,109,116,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 32%, rgba(102,109,116,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#666d74",GradientType=1);'>
    <style>
        .videoWrapper {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            }

            .videoWrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            }
    </style>
    <div class="container">
        <div class="videoWrapper"><iframe allowfullscreen frameborder="0"
                src="https://drive.google.com/file/d/1UOf-Ty_O4_PjjR0q9BiTIlphP3_Z-xzd/preview" class="embed-responsive-item" 
                width="100%" height="100%"></iframe></div>
    </div>
</section>
<section class="cta" style="background-image:url({% static 'img/bg-cta.jpg' %});">
    <div class="cta-content">
        <div class="container">
            <h2 style="font-size: 55px;">Stop cleaning.<br>Start building.<br></h2><a
                class="btn btn-outline-warning btn-xl js-scroll-trigger" role="button" href="/signup">Let's Get
                Started!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>