{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

<!--Block content goes below-->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if user.is_authenticated %}
                <img src="{% static 'img/photo.jpg' %}">
                <h2>Hello again {{ user.username }}</h2>
                <p>You are logged in. Enjoy transforming data with no limits.</p>
                <a href="{% url 'logout' %}">Logout</a>
                {% csrf_token %}
                {% crispy form %}
            {% else %}
                <img src="{% static 'img/photo.jpg' %}">
                <h2>Welcome to the TelematicsZap</h2>
                <p>You are not logged in! A maximum number of 100 rows will be parsed.
                 <br><a href="{% url 'login' %}">Login</a> to your account to increase the limits of transforming.</p>
                {% csrf_token %}
                {% crispy form %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}